@silver: #f0f0f0;
@blue: #61dafb;
@gray: #232425;

body {
  margin: 3em;
  background: @gray;
  text-align: center;
}

p, h1, h3 {
  color: @silver;
}

h4, a:link, a:hover, a:visited {
  color: @blue;
}