@silver: #f0f0f0;
@matrix: #3cb371;
@spacegray: #232425;

body {
  margin: 3em;
  color: @matrix;
  background: @spacegray;
}

h1 {
  color: @silver;
}

h4, a:link, a:hover, a:visited {
  color: @silver;
}