body {
  margin: 3em;
  background: #232425;
  text-align: center;
}
h1 {
  color: #f0f0f0;
}
h4,
a:link,
a:hover,
a:visited {
  color: #31acce;
}
.card {
  color: #232425;
  background-color: #f0f0f0;
  margin: 1em 16em;
  padding: 0.5em 2em;
}
@media all and (max-width: 1200px) {
  .card {
    margin: 1em 2em;
    padding: 0.5em 1em;
  }
}
@media all and (max-width: 600px) {
  .card {
    margin: 0.5em 0.2em;
    padding: 0.5em 1em;
  }
}
.react {
  width: 40%;
  height: auto;
  animation: react-spin infinite 20s linear;
}
@keyframes react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
